.upvote-downvote {
  display: block;
  margin-bottom: 25px;
  font-size: 18px;
}

.upvote-downvote a {
  font-size: 18px;
}

.upvote-downvote span {
  margin-left: 10px;
}

.player-status {
  margin: 25px;
}

