<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/quizer_game/styles/create-question.css">


<body>
<header id="masthead">
	<!--login version-->
     <!--<div class="email">-->
     <!--<a href="">Email: hello55@gmail.com</a>-->
	<!--</div>-->
	 <!--<div class="top">-->
	  <!--<a class="create" href="">Create quiz</a>-->
	  <!--<a class="history" href="">History</a>-->
	  <!--<a class="logout" href="">Logout</a>-->
	<div class="top">
	  	 <a class="login" href="">Login</a>
	</div>
</header>
 <h1>Create Quiz</h1>
<div class="container">


<form id="page-info">
  <fieldset class="form__fields"id="page-info">
    <article class="field">
      <label class = "topic">Topic</label>
      <input type="topic">
    </article>
    <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
     <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
  <footer class="form__footer">
    <input type="submit" value="Submit">
  </footer>
</form>


</div>

<div id="back">
    <a href=>Back</a>
</div>



<script  type="text/javascript" src="../../static/quizer_game/scripts/question-set-detail.js"></script>


</body>
</html>