<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/quizer_game/styles/create-question.css">


<body>
<header id="masthead">
	<!--login version-->
     <!--<div class="email">-->
     <!--<a href="">Email: hello55@gmail.com</a>-->
	<!--</div>-->
	 <!--<div class="top">-->
	  <!--<a class="create" href="">Create quiz</a>-->
	  <!--<a class="history" href="">History</a>-->
	  <!--<a class="logout" href="">Logout</a>-->
	<div class="top">
	  	 <a class="login" href="">Login</a>
	</div>
</header>
 <h1>Create Quiz</h1>
<div class="container">


<form id="page-info">
  <fieldset class="form__fields"id="page-info">
    <article class="field">
      <label class = "topic">Topic</label>
      <input type="topic">
    </article>
    <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
    <article class="choose_num">
		Number
	   <select>
	    	<option value="one">1</option>
  			<option value="two">2</option>
  			<option value="three">3</option>
  			<option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
  			<option value="seven">7</option>
  			<option value="eight">8</option>
  			<option value="nine">9</option>
            <option value="ten">10</option>
            <option value="eleven">11</option>
  			<option value="twelve">12</option>
  			<option value="thirteen">13</option>
  			<option value="fourteen">14</option>
            <option value="fifteen">15</option>
            <option value="sixteen">16</option>
  			<option value="seventeen">17</option>
  			<option value="eighteen">18</option>
  			<option value="nineteen">19</option>
            <option value="twenty">20</option>
	   </select>
	</article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
	<article class="choose_choice">
		Choose the right choice
	   <select >
	    	<option value="choice1">Choice 1</option>
  			<option value="choice2">Choice 2</option>
  			<option value="choice3">Choice 3</option>
  			<option value="choice4">Choice 4</option>
	   </select>
	</article>
     <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	 <article class="choose_num">
		Number
	   <select>
	    	<option value="one">1</option>
  			<option value="two">2</option>
  			<option value="three">3</option>
  			<option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
  			<option value="seven">7</option>
  			<option value="eight">8</option>
  			<option value="nine">9</option>
            <option value="ten">10</option>
            <option value="eleven">11</option>
  			<option value="twelve">12</option>
  			<option value="thirteen">13</option>
  			<option value="fourteen">14</option>
            <option value="fifteen">15</option>
            <option value="sixteen">16</option>
  			<option value="seventeen">17</option>
  			<option value="eighteen">18</option>
  			<option value="nineteen">19</option>
            <option value="twenty">20</option>
	   </select>
	</article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
	<article class="choose_choice">
		Choose the right choice
	   <select >
	    	<option value="choice1">Choice 1</option>
  			<option value="choice2">Choice 2</option>
  			<option value="choice3">Choice 3</option>
  			<option value="choice4">Choice 4</option>
	   </select>
	</article>
	<article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
	 <article class="choose_num">
		Number
	   <select>
	    	<option value="one">1</option>
  			<option value="two">2</option>
  			<option value="three">3</option>
  			<option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
  			<option value="seven">7</option>
  			<option value="eight">8</option>
  			<option value="nine">9</option>
            <option value="ten">10</option>
            <option value="eleven">11</option>
  			<option value="twelve">12</option>
  			<option value="thirteen">13</option>
  			<option value="fourteen">14</option>
            <option value="fifteen">15</option>
            <option value="sixteen">16</option>
  			<option value="seventeen">17</option>
  			<option value="eighteen">18</option>
  			<option value="nineteen">19</option>
            <option value="twenty">20</option>
	   </select>
	</article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
	 </article>
	 <article class="choose_choice">
		Choose the right choice
	   <select >
	    	<option value="choice1">Choice 1</option>
  			<option value="choice2">Choice 2</option>
  			<option value="choice3">Choice 3</option>
  			<option value="choice4">Choice 4</option>
	   </select>
	</article>
	 <article class="field">
      <label class = "question">Question</label>
      <input type="question">
    </article>
    <article class="choose_num">
		Number
	   <select>
	    	<option value="one">1</option>
  			<option value="two">2</option>
  			<option value="three">3</option>
  			<option value="four">4</option>
            <option value="five">5</option>
            <option value="six">6</option>
  			<option value="seven">7</option>
  			<option value="eight">8</option>
  			<option value="nine">9</option>
            <option value="ten">10</option>
            <option value="eleven">11</option>
  			<option value="twelve">12</option>
  			<option value="thirteen">13</option>
  			<option value="fourteen">14</option>
            <option value="fifteen">15</option>
            <option value="sixteen">16</option>
  			<option value="seventeen">17</option>
  			<option value="eighteen">18</option>
  			<option value="nineteen">19</option>
            <option value="twenty">20</option>
	   </select>
	</article>
	<artical class = "file" action="/action_page.php">
  		Select a file: <input type="file"><br>
    </artical>
    <article class="field">
      <label class = "choice">Choice 1</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 2</label>
	  <input type="choice">
    </article>
	 <article class="field">
      <label class = "choice">Choice 3</label>
	  <input type="choice">
    </article>
    <article class="field">
      <label class = "choice">Choice 4</label>
	  <input type="choice">
    </article>
  <footer class="form__footer">
    <input type="submit" value="Submit">
  </footer>
</form>


</div>

<div id="back">
    <a href=>Back</a>
</div>

</body>
</html>