<!DOCTYPE html>
<html lang="en">
{% load quizer_game_extras %}
  <head>
    <meta charset="UTF-8">
    <title>Quizer Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'quizer_game/styles/style-game.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <h2 class="top-text">Player's name
      <span id="quiz-name">Quiz topic : {{ quiz.topic }}</span>
      <span id="time">Time: {{ timer.time_duration }}</span>
    </h2>
    <p class="top-text" id="player-name">{{ player.name }}</p>
    <span class="navbar">
      <a id="quit" href="">Quit</a>
    </span>
    
    <div class="racing-track-box">
      <img id="racing-track-img" src="{% static 'quizer_game/images/race-track.png' %}" alt="Racing Track">
      <img id="race-car-img" style="left:{{ player.position|mul:61 }}px;" src="{% static 'quizer_game/images/race-car-200.png' %}" alt="Race car">
    </div>
    
    <p>Difficulty: {{ player.selected_difficulty }}</p>
    <div class="question-body">
      <form action="{% url 'quizer_game:update' player_id=player.id quiz_id=quiz.id selected_difficulty=player.selected_difficulty %}"
            method="post">
        {% csrf_token %}
        <div id="question-text">
          <p>Q.{{ question.number }} {{ question.text }}</p>
        </div>
        <!--        <p>Q1. This should be a very longgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg question</p>-->
        {% for choice in question.choice_set.all %}
          {# /quizer/game/player_id/quiz_id/difficulty/choice_value/update/ #}
          <div class="navbar" id="c{{ forloop.counter }}">
            <button type="submit" name="choice_id" value="{{ choice.id }}">{{ choice.text }}</button>
            <!--            <a href="">Choice 1</a>-->
<!--              <button>This should be a very longgggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg choice</button>-->
          </div>
        {% endfor %}
      </form>
    
    </div>
  </body>

</html>