<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leader board</title>
    <link rel="stylesheet" href="../../static/quizer_game/styles/leaderboard.css">
</head>
<body>

<header id="masthead">
	<!--login version-->
	<!--<div class="email">-->
     <!--<a href="">Email: hello55@gmail.com</a>-->
	<!--</div>-->
	 <!--<div class="top">-->
	  <!--<a class="create" href="">Create quiz</a>-->
	  <!--<a class="history" href="">History</a>-->
	  <!--<a class="logout" href="">Logout</a>-->

	<div class="top">
	  	 <a class="login" href="">Login</a>
	</div>
</header>

<div class="container">
	<h1>Leaderboard</h1>
	<h2>Quiz name: Hello</h2>
	<h2>Difficulty: Easy</h2>

	<table class="fixed_header">
  		<thead>
    		<tr>
      			<th>Rank</th>
      			<th>Name</th>
      			<th>Time</th>
      			<th>Number of all answers</th>
			</tr>
  		</thead>
  		<tbody>
			<tr>
      			<td>1</td>
      			<td>Sunny</td>
      			<td>01.25</td>
      			<td>10</td>
    		</tr>
			<tr>
      			<td>2</td>
      			<td>David</td>
      			<td>01.34</td>
      			<td>10</td>
    		</tr>
			<tr>
      			<td>3</td>
      			<td>Mel</td>
      			<td>01.55</td>
      			<td>11</td>
    		</tr>
			<tr>
      			<td>4</td>
      			<td>Jo</td>
      			<td>02.01</td>
      			<td>10</td>
    		</tr>
			<tr>
      			<td>5</td>
      			<td>Jack</td>
      			<td>02.45</td>
      			<td>12</td>
    		</tr>
			<tr>
      			<td>6</td>
      			<td>Jason</td>
      			<td>02.56</td>
      			<td>12</td>
    		</tr>
			<tr>
      			<td>7</td>
      			<td>Willam</td>
      			<td>03.44</td>
      			<td>14</td>
    		</tr>
		    	<tr>
      			<td>8</td>
      			<td>Georg</td>
      			<td>03.59</td>
      			<td>16</td>
    		</tr>
		    	<tr>
      			<td>9</td>
      			<td>Dan</td>
      			<td>04.45</td>
      			<td>14</td>
    		</tr>
		</tbody>
	</table>
</div>

<div id="quit">
  <a href=>Quit</a>

</div>

</body>
</html>