<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="{% static 'quizer_game/styles/leaderboard.css' %}">
  </head>
  <body>
  
  <header id="masthead">
  <!--login version-->
    <!--<div class="email">-->
      <!--<a href="">Email: hello55@gmail.com</a>-->
    <!--</div>-->
    <!--<div class="top">-->
    <!--<a class="create" href="">Create quiz</a>-->
    <!--<a class="history" href="">History</a>-->
    <!--<a class="logout" href="">Logout</a>-->
  
    <div class="top">
    <a class="signup" href="{% url 'quizer_game:login' %}">Sign Up</a>
    <a class="login" href="{% url 'quizer_game:login' %}">Login</a>
    </div>
  </header>
  
  <div class="container">
    <h1>Leaderboard</h1>
    <h2>Quiz name: {{ quiz.topic }}</h2>
    <h2>Difficulty: {{ difficulty }} </h2>
  
    <table class="fixed_header">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Name</th>
          <th>Time</th>
          <th>Number of all answers</th>
      </tr>
      </thead>
      <tbody>
    {% for player in players %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.time }}</td>
        <td>{{ player.total_answer }}</td>
      {% endfor %}
      </tr>
    </tbody>
    </table>
  </div>
  
  <div id="quit">
    <a href="{% url 'quizer_game:leaderboard-index' %}">Back</a>
  </div>
  
  </body>
</html>