<!DOCTYPE html>
<html lang="en">
{% load quizer_game_extras %}
<head>
    <meta charset="UTF-8">
	<title>Question set detail</title>
	 {% load static %}
  	<link rel="stylesheet" href="{% static 'quizer_game/styles/question-set-detail.css' %}">



<body>
<header id="masthead">
	<!--login version-->
     <!--<div class="email">-->
     <!--<a href="">Email: hello55@gmail.com</a>-->
	<!--</div>-->
	 <!--<div class="top">-->
	  <!--<a class="create" href="">Create quiz</a>-->
	  <!--<a class="history" href="">History</a>-->
	  <!--<a class="logout" href="">Logout</a>-->
	<div class="top">
	  	 <a class="login" href="">Login</a>
	</div>
</header>
 <h1>{{  quiz }}</h1>
<div class="container">
    <div id="piechart" class="chart"></div>
    <p id="easy">Easy</p>
    <a href="#" class="button" id ="detail1" onclick="easy()">detail</a>
    <br>
    <br>
    <br>
    <br>
     <table id="table_easy" class="fixed_header w3-hide" >
  		<thead>
    		<tr>
      			<th>Question number</th>
				<th>Question</th>
                <th>Number of player</th>
      			<th>Choice1</th>
      			<th>Choice2</th>
      			<th>Choice3</th>
                <th>Choice4</th>
			</tr>
  		</thead>
  		<tbody>
		    {% for i in  quiz.question_set.all %}
			<tr>
      			<td>{{forloop.counter}}</td>
				<td>{{i}}</td>
                <td>34</td>
      			<td>3</td>
      			<td>5</td>
      			<td>10</td>
                <td>10</td>
    		</tr>

		    {% endfor %}
		</tbody>
	</table>

    <p id="medium">Medium</p>

    <a href="#" class="button" id ="detail2" onclick="medium()">detail</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table id="table_medium" class="fixed_header w3-hide" >
  		<thead>
    		<tr>
      			<th>Question number</th>
				<th>Question</th>
                <th>Number of player</th>
      			<th>Choice1</th>
      			<th>Choice2</th>
      			<th>Choice3</th>
                <th>Choice4</th>
			</tr>
  		</thead>
  		<tbody>
		    {% for j in  quiz.question_set.all %}
			<tr>
      			<td>{{forloop.counter}}</td>
				<td>{{j}}</td>
                <td>28</td>
      			<td>3</td>
      			<td>5</td>
      			<td>10</td>
                <td>10</td>
    		</tr>
		     {% endfor %}

		</tbody>
	</table>

    <p id="hard">Hard</p>
    <a href="#" class="button" id ="detail3" onclick="hard()">detail</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <table id="table_hard" class="fixed_header w3-hide" >
        <thead>
    		<tr>
      			<th>Question number</th>
				<th>Question</th>
                <th>Number of player</th>
      			<th>Choice1</th>
      			<th>Choice2</th>
      			<th>Choice3</th>
                <th>Choice4</th>
			</tr>
        </thead>
		  {% for j in  quiz.question_set.all %}
			<tr>
      			<td>{{forloop.counter}}</td>
				<td>{{j}}</td>
                <td>28</td>
      			<td>3</td>
      			<td>5</td>
      			<td>10</td>
                <td>10</td>
    		</tr>
		     {% endfor %}

		</tbody>
	</table>
</div>
</table>
</div>

<div id="back">
    <a href=>Back</a>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script  type="text/javascript" src="{% static 'quizer_game/scripts/question-set-detail.js' %}"></script>


</body>
</html>
