<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<title>Question Level</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
			header > h1{
				font-family: 'Nunito', sans-serif;
				font-weight: 700;
			}
			main > p{
				font-family: 'Nunito', sans-serif;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="{% static 'quizer_game/styles/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'quizer_game/styles/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'quizer_game/styles/css/style.css' %}">
	</head>
	<body>
<!--		<h3>For manual testing</h3>-->
<!--		<p>{{ player_name }}</p>-->

			{# For Test Quiz contains 5 questions #}
	<!--		<p>Select: Test Quiz contains 5 questions </p>-->
	<!--		<p>Difficulty: 0 (easy)</p>-->
<!--			{# <a href="{% url 'quizer_game:start-game' player_name=player_name quiz_id=3 selected_difficulty=0 %}">Start Game</a> #}-->

			{# For Test Quiz contains 20 questions#}
<!--			<p>Select: Test Quiz contains 20 questions </p>-->
<!--			<p>Difficulty: 0 (easy)</p>-->
<!--			{# <a href="{% url 'quizer_game:start-game' player_name=player_name quiz_id=4 selected_difficulty=0 %}">Start Game</a> #}-->


		<div class="limiter">
			<div class="container-login100" style="background: #eaece5;">
				<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

					<form class="login100-form validate-form" action="{% url 'quizer_game:start-game' player_name=player_name %}" method="post">
						{% csrf_token %}
						<span class="login100-form-title p-b-7">
							Select Quiz and Level
						</span>

						<div class="txt1 text-center p-t-7 p-b-20">
							<p>
								Player Name: {{ player_name }}
							</p>

						</div>

						<div class="center-on-page p-t-54">
							<div class="select">
								<select autofocus name="quiz_id" id="slct">
									<option>Select Quiz</option>
									{% for quiz in quizzes %}
										<option value="{{ quiz.id }}">{{ quiz.topic }}</option>
									{% endfor %}
								</select>
							</div>

							<div class="select">
								<select autofocus name="difficulty" id="slct">
									<option>Select Difficulty</option>
									<option value="easy">Easy</option>
									<option value="medium">Medium</option>
									<option value="hard">Hard</option>
								</select>
							</div>
						</div>

						<div class="container-login100-form-btn p-t-155">
							<div class="wrap-login100-form-btn">
								<div class="login100-form-bgbtn"></div>
								<button class="login100-form-btn">
									Start!
								</button>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>

						<!-- <div class="txt1 text-center p-t-54 p-b-20">
							<span>
								Or Sign Up Using
							</span>
						</div>

						<div class="flex-c-m">
							<a href="#" class="login100-social-item bg1">
								<i class="fa fa-facebook"></i>
							</a>

							<a href="#" class="login100-social-item bg2">
								<i class="fa fa-twitter"></i>
							</a>

							<a href="#" class="login100-social-item bg3">
								<i class="fa fa-google"></i>
							</a>
						</div>

						<div class="flex-col-c p-t-155">
							<span class="txt1 p-b-17">
								Or Sign Up Using
							</span>

							<a href="#" class="txt2">
								Sign Up
							</a>
						</div> -->

		<div id="dropDownSelect1"></div>

		<script src="{% static 'quizer_game/scripts/js/main.js' %}"></script>
		<script>
			sessionStorage.clear();
		</script>
	</body>
</html>
