<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="stylesheet" href="../../static/quizer_game/styles/user-profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>


<body>
<header id="masthead">
	<!--login version-->
     <!--<div class="email">-->
     <!--<a href="">Email: hello55@gmail.com</a>-->
	<!--</div>-->
	 <!--<div class="top">-->
	  <!--<a class="create" href="">Create quiz</a>-->
	  <!--<a class="history" href="">History</a>-->
	  <!--<a class="logout" href="">Logout</a>-->
	<div class="top">
	  	 <a class="login" href="">Login</a>
	</div>
</header>
 <h1>Quiz</h1>
<div class="container">


  <table>

    <tr>
      <p id="num">1.</p>
      <a id="question" href=>C+</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>

        </div>
    </tr>

    <tr>
      <p id="num">2.</p>
      <a id="question" href=>Java</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>

        </div>
    </tr>
    <tr>
      <p id="num">3.</p>
      <a id="question" href=>Python</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>

        </div>
    </tr>
    <tr>
      <p id="num">4.</p>
      <a id="question" href=>Fish</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>

       </div>
    </tr>
     <tr>
      <p id="num">5.</p>
      <a id="question" href=>Django</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>
       </div>
    </tr>
    <tr>
      <p id="num">6.</p>
      <a id="question" href=>Cat</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>
       </div>
    </tr>
     <tr>
      <p id="num">7.</p>
      <a id="question" href=>Pycharm</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>

    </div>
  </tr>
  <tr>
      <p id="num">8.</p>
      <a id="question" href=>Pizza</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>
       </div>
  </tr>
   <tr>
      <p id="num">9.</p>
      <a id="question" href=>Dessert</a>
       <div class="navbar">
         <a id="edit" href=><i class="fa fa-edit"></i>edit</a>
         <a id="delete"data-toggle="modal" data-target="#myModal" id="delete" href=><i class="fa fa-trash"></i>delete</a>
       </div>
   </tr>


</table>



    <div class="modal fade" id="myModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">

            <div class="modal-body">
              <p>Do you want to delete this quiz?</p>

            </div>
            <div class="modal-footer">
              <button id = "yes">Yes</button>
              <button id = "no" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

</div>

<div id="back">
    <a href=>Back</a>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script></script>

</body>
</html>




