@import url(https://fonts.googleapis.com/css?family=Nunito);


html,

body {

  margin: 0;
  background: #eaece5;
  font-family: 'Nunito', serif;
  font-weight: 100;
  overflow: scroll;

}

.container {
  position: absolute;
  top:220px;
  margin-right:-50px;
  margin-left:-50px;
  left:25%;
}

#masthead {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #25274d;
}

h1 {
    position: absolute;
  top:100px;
  left:45%;
  color: black;
  text-align: center;
  font-size: 30px;
  top: 100 px;

}

.fixed_header{

    width: 120px;
    table-layout: fixed;
    border-collapse: collapse;

}

.fixed_header tbody{
  display:block;
  width: 389.5%;
  overflow: auto;
  height: 250px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);

}

.fixed_header thead tr {
   display: block;
}


.fixed_header th, .fixed_header td {
  padding: 16px;
  text-align: center;
  width: 300px;
}


td {
  text-align: center;
  padding: 18px;
  color: black;
  word-wrap: break-word;
  max-width: 100px;

}
th {
  text-align: center;
}
thead th {
  background-color: #25274d;
  color: white;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
tbody td {
  position: relative;
}

.top a{
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background-color: #25274d;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 19px;
  border: solid white;
}


.top a:hover{
  background: #eaece5;
  color: black;
  border: solid white;
  border-radius: 19px;
}


.logout{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 95%;

}

.create {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 8%;
}

.history{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 89%;
}

.email {
  position: absolute;
  top: 44%;
  right: 14%;
  color: white;
}
.email a:visited  {
  color: white;
}

.email a:hover{
  color: #00FFFF;
}


.login {
  position: absolute;
  font-size: 12px;
  top: 55%;
  left: 94%;
}

#back a{
   position: fixed;
   top: 120px;
   left: 55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;

}
#back a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}

form {
  margin-bottom: 2em;
   font-family: 'Nunito', serif;
}

.form__fields {
  padding: 0;
  border: none;
  margin-bottom: 2em;
}

lable{
 font-family: 'Nunito', serif;
 font-size: 9px;
}

.field {
  margin-bottom: 1.5em;
}

.field label {
  display: block;
  line-height: 1em;
  padding: 0.2em 0;
  font-weight: bold;
}

.form__footer {
  margin-top: 1em;
}
.form__footer input {
  display: block;
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 18px;
  border: solid black;
  border-radius: 19px;
  margin-left: 20em;
}

.form__footer input:hover {
  background: #25274d;
  color: white;
  border: solid black;
  border-radius: 19px;

}

.block-list {
  display: block;
  list-style-type: none;
  padding: 0;
}
.block-list li {
  padding-bottom: .5em;
}

label input {
  margin-right: .25em;
  margin-top: -4px;
  vertical-align: middle;

}

.topic {
     margin-left: -8em;
     font-size: 20px;
}

.topic_input{
  width: 180%;
  padding: 1.25em;
  background: #FFFAF0;
  border: 1px solid #191970;
  border: 1px solid #272727;
  color: #555;
  border-radius: 19px;
  margin-left: -12em;
  font-size: 14px;
}

.question {
     margin-left: -6em;
     font-size: 18px;
}

.question_input{
  width: 180%;
  padding: 1.25em;
  background: #FFFAF0;
  border: 1px solid #191970;
  border: 1px solid #272727;
  color: #555;
  border-radius: 19px;
  margin-left: -8em;
  font-size: 14px;
}


.choice {
     margin-left: -3em;
     font-size: 16px;
}

.choice_input{
  width: 180%;
  padding: 1.25em;
  background: #FFFAF0;
  border: 1px solid #191970;
  color: black;
  border-radius: 19px;
  margin-left: -3em;
  font-size: 14px;
}


.field input[type='choice']{
  width: 180%;
  padding: 1.25em;
  background: #FFFAF0;
  border: 1px solid #191970;
  color: black;
  border-radius: 19px;
  margin-left: -3em;
  font-size: 14px;
}

.file{
   margin-left: -6em;
   font-size: 18px;
   font-weight: bold;
}

.file [type='file'] {

  font-family: 'Nunito', serif;
  color: black;
  background-color: #eaece5;
  font-size: 18px;

}

.choose_choice{
  margin-left: -2em;
  font-size: 18px;
  font-weight: bold;
}

.choose_num{
  margin-left: -6em;
  font-size: 18px;
  font-weight: bold;
 }

select{
    margin:20px;
    background: #FFFAF0;
    color:black;
    border-radius: 19px;
    padding: 0.5em;
    foint-size: 18px;

}

select option {
    margin: 60px;
    background: rgba(1, 3, 0, 0.3);
    color: white;
    foint-size: 18px;

}

.navbar input{
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;

}
.navbar input:hover, a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}

