
p {
  position: absolute;
  margin-top: 40px;
  margin-left: 400px;
  color: black;
  text-align: center;
  font-size: 50px;
}

#back a {
  position: fixed;
  top: 400px;
  left: 650px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;
}

#back a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}

#login a{
  position: fixed;
  top: 400px;
  left: 850px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;
}

#login a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}
