@import url(https://fonts.googleapis.com/css?family=Nunito);


html,

body {

  margin: 0;
  background: #eaece5;
  font-family: 'Nunito', serif;
  font-weight: 100;
  overflow: scroll;
}

.container {
  position: absolute;
  top:220px;
  margin-right:-50px;
  margin-left:-50px;
  left:25%;
}

#masthead {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #25274d;
}

h1 {
  position: absolute;
  top:100px;
  left:48%;
  color: black;
  text-align: center;
  font-size: 30px;
  top: 100 px;

}

.fixed_header{

    width: 120px;
    table-layout: fixed;
    border-collapse: collapse;


}

.fixed_header tbody{
  display:block;
  width: 548.5%;
  overflow: auto;
  height: 1075px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-bottom: 15px;
}

.fixed_header thead tr {
   display: block;
}


.fixed_header th, .fixed_header td {
  padding: 16px;
  text-align: center;
  width: 300px;

}

table{
    margin-left: -150px;
}

td {
  text-align: center;
  padding: 18px;
  color: black;
  word-wrap: break-word;
  max-width: 100px;

}
th {
  text-align: center;

}
thead th {
  background-color: #25274d;
  color: white;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

tbody td {
  position: relative;
}

.top a{
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background-color: #25274d;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 19px;
  border: solid white;
}


.top a:hover{
  background: #eaece5;
  color: black;
  border: solid white;
  border-radius: 19px;
}


.logout{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 95%;

}

.create {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 8%;
}

.history{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 89%;
}

.email {
  position: absolute;
  top: 52%;
  right: 8.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.email a:visited  {
  color: white;
}

.email a:hover{
  color: #00FFFF;
}


.login {
  position: absolute;
  top: 55%;
  left: 94%;
}

#back a{
   position: fixed;
   top: 120px;
   left: 55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;

}

#back a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}


.navbar a {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  border: solid black;
  border-radius: 19px;
}

.navbar a:hover {
  background: #25274d;
  color: white;
  border: solid black;
  border-radius: 19px;
}

#easy {
  position: absolute;
  margin-top:34px;
  margin-left: -240px;
  font-size: 24px;
}

#medium{
  position: absolute;
  margin-top:150px;
  margin-left: -240px;
  font-size: 24px;
}

#hard{
  position: absolute;
  margin-top:170px;
  margin-left: -240px;
  font-size: 24px;
}

#question {
  position: absolute;
  margin-top:4px;
  margin-left: 40px;
  font-size: 24px;
}


.w3-hide{
    display:none!important
}

.w3-show-block,.w3-show{
display:block!important}


.button {
   -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-size: 20px;
  border: solid black;
  border-radius: 19px;
}

#detail1 {
  position: absolute;
  margin-top:42px;
  margin-left: -65px;
  font-size: 22px;
}

#detail2 {
  position: absolute;
  margin-top:170px;
  margin-left: -65px;
  font-size: 24px;
}

#detail3 {
  position: absolute;
  margin-top:180px;
  margin-left: -65px;
  font-size: 24px;
}

.chart {
  position: absolute;
  margin-top:-40px;
  margin-left: 430px;
}


