@import url(https://fonts.googleapis.com/css?family=Nunito);


html,

body {

  margin: 0;
  background: #eaece5;
  font-family: 'Nunito', serif;
  font-weight: 100;
  overflow: scroll;
}

.container {
  position: absolute;
  top:220px;
  margin-right:-50px;
  margin-left:-50px;
  left:25%;
}

#masthead {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #25274d;
}

h1 {
  position: absolute;
  top:80px;
  left:50%;
  color: black;
  text-align: center;
  font-size: 30px;
  top: 100 px;
}

td {
  text-align: center;
  padding:0 200px 0 15px;
  color: black;
  font-sixe
  word-wrap: break-word;
  max-width: 300px;
  font-size: 20px;
  left:25%;
}


.top a{
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  background-color: #25274d;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  border-radius: 19px;
  border: solid white;
}


.top a:hover{
  background: #eaece5;
  color: black;
  border: solid white;
  border-radius: 19px;
}


.logout{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 95%;

}

.create {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 8%;
}

.history{
  font-size: 12px;
  position: absolute;
  top: 55%;
  left: 89%;
}

.email {
  position: absolute;
  top: 52%;
  right: 8.5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}
.email a:visited  {
  color: white;
}

.email a:hover{
  color: #00FFFF;
}


.login {
  position: absolute;
  top: 55%;
  left: 94%;
}

#back a{
   position: fixed;
   top: 120px;
   left: 55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 19px;
  border: solid black;

}
#back a:hover {
  background: #25274d;
  color: white;
  border: solid black;
}


.navbar a {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
  background-color: #eaece5;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 20px;
  border: solid black;
  border-radius: 19px;
}

.navbar a:hover {
  background: #25274d;
  color: white;
  border: solid black;
  border-radius: 19px;
}

#num {
  position: absolute;
  margin-top:4px;
  margin-left: -120px;
  font-size: 24px;
}

#question {
  position: absolute;
  margin-top:4px;
  margin-left: -90px;
  font-size: 24px;
}

#edit {
  position: relative;
  margin-left: 650px;
}

#delete {
  position: relative;
  margin-left: 50px;
}

#yes{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 19px;
}

#no{
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 19px;
}


